# Dependencies
node_modules/

# Environment variables
.env

# Uploads
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/default-project.jpg

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
