# Dependencies
node_modules/

# Environment variables
.env

# Uploads
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/default-project.jpg
!public/uploads/profile.jpg
!public/uploads/profile_secondary.jpg
!public/uploads/m-saad-shaikh.jpg
!public/uploads/m-saad-shaikh-about.jpg

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
